# Prevent the formatter from affecting the results of the golden test.
dartdoc_txt/test/integration/fixture/
dartdoc_txt/test/integration/golden/

# Word wrap should not be applied to skill files.
skill/plugin-experimental/doc-explorer/
skill/plugin/doc-explorer/
skill/example/
